<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>


    <main class="page-content home-page" aria-label="Content">
      <img class="profile-img" src="img1.jpg" alt="face">

      <div class="wrapper" style="margin-top: 2rem;">
        {{ content }}

        <div>
          {% for link in site.data.navigation %}
                <a class="page-link a-link" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a>
          {% endfor %}
        </div>
      </div>
            
    </main>
 </body>
</html>

